
{%extends 'baseTemplate.html'%}

{%block title%}Timeline{%endblock%}



     {% block body %}
<div bgcolor="#b5b5f5">
<h3>References

</h3>

<ul>
<li>https://www.google.com/search?rlz=1C1CHBF_frCA837CA837&biw=1920&bih=842&tbm=isch&sxsrf=ACYBGNTJwtRo12cxD4SbyeMuq8b1-cmLSA%3A1569296893592&sa=1&ei=_ZGJXdLoI7K9ggfN3pzoAw&q=day+at+the+beach+cartooon&oq=day+at+the+beach+cartooon&gs_l=img.3...80.913..1138...0.0..1.582.1610.1j0j4j5-1......0....1..gws-wiz-img.......0.iy1NHYZWsTo&ved=0ahUKEwiS246_xujkAhWynuAKHU0vBz0Q4dUDCAc&uact=5</li>
<li>https://www.google.com/search?q=outing+picture&rlz=1C1CHBF_frCA837CA837&sxsrf=ACYBGNRXGuYLrEt-MIJTqZbqfQY-m2TMlQ:1569297258340&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjNnIXtx-jkAhXrm-AKHQQfDgwQ_AUIEigB&biw=1920&bih=842#imgrc=ZfOcEUYDCSG3wM:</li>
</ul>
</div>
{%endblock%}
